*/* ,
*::before,
*::after */ {
  box-sizing: border-box;
  font-family: var(--mainFont);
}

:root {
  --mainColorBlue: #22577a;
  --mainColorBlueTransp: #22577a55;
  --mainColorGreen: #57cc99;
  --mainFont: "Play", sans-serif, monospace;
}

.navbar {
  background-color: var(--mainColorBlue);
}

.row-cols-1 {
  background-color: var(--mainColorBlue);
}

.container-fluid .collapse ul li :hover > a {
  background-color: var(--mainColorGreen);
}

.colorBlanco {
  color: #fff;
}

.colorBlueMain {
  background-color: var(--mainColorBlue);
}

.banner-imag img {
  object-fit: cover;
  width: 100%;
}

.containerMainAside {
  display: flex;
  margin-bottom: 30px;
}

.tamañoLogoNav {
  border-radius: 25px 13px 13px 25px;
  height: 60px;
  width: 180px;
}

.mainHome {
  display: grid; /* BORRAR, para funcion gap, (visualización) */
  gap: 5px; /* BORRAR, (visualización) */
  margin: 5% 5% 5% 12%;
  text-align: justify;
}

.divHomeInfo /* Div 2 parrafos MainHome */ {
  padding: 30px;
}

.carousel-inner {
  text-align: center;
}

.carousel-inner img /* Div imgs MainHome */ {
  height: 80px;
  width: 170px;
}
.divJustificado {
  align-items: center;
  margin-right: 15%;
  margin-left: 15%;
}

.carousel-control-prev-icon {
  color: red;
}

/* Estilo Banner */
.banner-imag img {
  width: 100%;
}

/* CSS Aside */
.contenedor_aside {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  justify-items: end;
  margin-top: 20px;
  margin-right: 80px;
}

.caja1 {
  background-color: var(--mainColorBlue);
  font-size: small;
  height: auto;
  width: 330px;
  text-align: center;
  padding: 2% 2% 5% 2%;
  font-family: "Play", sans-serif;
  color: white;
  font-style: normal;
}

.imagenes_aside {
  height: 100px;
  width: 160px;
}

.parrafos {
  text-align: justify;
}

/* footer */

footer {
  background-color: var(--mainColorBlue);
}

.container-fluid {
  display: grid;
  grid-template-columns: auto;
  text-align: start;
}

.container-fluid p {
  color: var(--mainColorGreen);
}

.container-fluid .col h5 {
  color: var(--mainColorGreen);
  text-align: left;
}

.container-fluid ul {
  align-items: flex-start;
}

.github-img img {
  object-fit: contain;
}

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 992px) {
  .containerMainAside {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .divJustificado {
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
  }
  .mainHome {
    margin: 3% 3% 3% 3%;
  }
  .contenedor_aside {
    padding: 5px;
    margin: 3% 3% 3% 3%;
  }
  .caja1 {
    width: auto;
    font-size: 20px;
  }
  .divHomeInfo {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1399px) {
  .divHomeInfo {
    font-size: 16px;
  }

  .mainHome {
    margin-top: 20px;
  }

  .divHomeInfo {
    padding-top: 0px;
  }

  .container-fluid {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (min-width: 1400px) {
  .banner-imag img {
    height: 200px;
  }

  footer {
    text-align: center;
    justify-content: space-around;
  }
  .github ul {
    font-size: 13px;
    align-items: flex-start;
    align-content: center;
  }

  .container-fluid {
    grid-template-columns: auto auto auto auto;
  }
}
