*,
*::before,
*::after {
  box-sizing: border-box;
}

.mainHome {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "Intro Intro Intro Intro Intro Intro"
    "Info Info Info Info Info Info";
}

.divMainHome {
}
